/* Whole document: */

nav ul, footer ul {
    font-family:'Sanchez', 'Comic Sans MS', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: #5297AC;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    background-color: #5297AC;
}

body{
  font-family:"Arvo", Sanchez,Arial;
  font-size: 11.5pt;
  margin-bottom: 30px;
}

h1.title {
  font-family:"Sanchez", Roboto,Arial;
  font-size: 24pt;
  text-align: center;
  font-weight: bold;
  margin-bottom: 36px;
}

h1{
  font-family:"Sanchez", Roboto,Arial;
  font-weight: bold;
  font-size: 20pt;
  color: rgb(86, 160, 211);
}

h2{
  font-family:"Sanchez", Roboto,Arial;
  font-weight: bold;
  font-size: 20pt;
  color: rgb(86, 160, 211);
}

h3{
  font-family:"Sanchez", Roboto,Arial;
  font-size: 12pt;
  font-weight: bold;
  color:rgb(247, 148, 30);
}

h4{
  font-size: 12pt;
  font-weight: bold;
  margin-top: 1.5em;
}

.fuente {
  font-size: 8pt;
  margin-bottom: 2em;
}

.figuras {
  font-size: 12pt;
  margin-top: 2em;
  font-weight: bold;
  text-align: center;
  color: grey;
}

.bajada {
  text-align: center;
}


.leaflet.html-widget {
  background: #edf5fc;
}
  


